.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0 1.5rem 0 0;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  background-color: hsl(240, 4%, 90%);
}

.hero-btn:hover {
  background-color: hsl(240, 4%, 85%);
}
